{% extends 'base.html' %}

<!-- Title -->
{% block title %}Contact{% endblock %}

<!-- Body -->
{% block content %}
<div class="contact-body">
    <div class="contact-info">
        <div id="email" class="outer-info">
            <span>Email</span>
        </div>
        <div class="inner-info">samratmetaladhikari@gmail.com</div>

        <div id="website" class="outer-info">
            <span>Website</span>
        </div>
        <div class="inner-info">
            <a href="https://www.samratkumaradhikari.com.np/"
                >samratkumaradhikari.com.np/</a
            >
        </div>

        <div id="linkedin" class="outer-info">
            <span>LinkedIn</span>
        </div>
        <div class="inner-info">
            <a href="www.linkedin.com/in/samrat-kumar-adhikari"
                >linkedin.com/in/samrat-kumar-adhikari</a
            >
        </div>

        <div id="github" class="outer-info">
            <span>Github</span>
        </div>
        <div class="inner-info">
            <a href="https://github.com/SamratAdhikari"
                >github.com/SamratAdhikari</a
            >
        </div>
    </div>
</div>
{% endblock %}
