{% extends 'base.html' %}

<!-- Title -->
{% block title %}Contact{% endblock %}

<!-- Body -->
{% block content %}
<div class="contact-body">

    <div class="contact-info">
        <div id="address" class="outer-info">
            <span>Address</span>
        </div>
        <div class="inner-info">
            Malepatan, Pokhara-5, Nepal
        </div>

        <div id="call" class="outer-info">
            <span>Contact</span>
        </div>
        <div class="inner-info">
            +977-9825108250
        </div>

        <div id="email" class="outer-info">
            <span>Email</span>
        </div>
        <div class="inner-info">
            samratmetaladhikari@gmail.com
        </div>
    </div>

</div>
{% endblock %}