.container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/index.jpg");
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.info-area {
    text-align: center;
    /* align-items: center; */
    width: 50%;
    padding-top: 15vh;
}

.title {
    font-family: "Ubuntu";
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin: 10vw;
}

.info-area p {
    font-size: 1rem;
    color: white;
    width: 80%;
    margin-left: 10%;
}

.info-area .area-redirect {
    margin-top: 10vh;
}

.subtitle {
    color: white;
    font-size: 3rem;
}

.index-buttons {
    margin-top: 3vh;
}

.index-buttons a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.6s ease;
}

#short-anchor {
    padding: 1rem 23px;
}

.index-buttons a:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 700px) {
    .info-area {
        text-align: center;
        /* align-items: center; */
        padding-top: 6vh;
    }

    .info-area .title {
        font-family: "Ubuntu";
        font-size: 10vw;
        font-weight: bold;
        margin: 2vh 0vh 1vh 3vh;
    }

    .info-area p {
        text-align: center;
        margin-left: 10vw;
        font-size: 7vw;
    }

    .subtitle {
        font-size: 6vw;
    }

    .index-buttons {
        margin-top: 3vh;
    }

    .index-buttons a {
        text-decoration: none;
        font-size: 13px;
        padding: 1vh;
        margin: 2px;
        transition: 0.6s ease;
    }

    #short-anchor {
        padding: 1vh 1rem;
    }
}
